@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto Mono', 'sans-serif';
}

body {
    background-color: #084F8C;
}

figure{
    width: 50px;
    margin-left: 50px;
}

#cabecalho {
    background-color: white;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.icones_esquerda {
    height: 50px;
    width: 50px;
    margin: 15px;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

.icones_direita {
    height: 50px;
    width: 50px;
    margin: 15px;
    justify-content: space-between;
    display: inline-flex;
    align-items: center; 
}

#rodape {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.ir {
    display: flex;
    align-items: center;
}

.icones_rodape {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.ir p {
    margin-right: 40px;
    font-size: 24px;
}

.icones_topo {
    height: 40px;
    width: 40px;
    margin: 15px;
    justify-content: space-between;
    display: inline-flex;
    align-items: center; 
}

.container_topo img:first-child {
    float: left;
}
  
.container_topo img:last-child {
    float: right;
}